@model eShop.Database.Data.TelegramChatMember

@{
    var showUsers = false;
    if (ViewData["showUsers"] != null)
    {
        showUsers = (bool)ViewData["showUsers"];
    }

    var showChats = false;
    if (ViewData["showChats"] != null)
    {
        showChats = (bool)ViewData["showChats"];
    }
}

<div class="row">
    @if (Model.User != null && showUsers)
    {
        <div class="col">
            @Model.User.ExternalId
        </div>
        <div class="col">
            @Model.User.FirstName
        </div>
        <div class="col">
            @Model.User.LastName
        </div>
        <div class="col">
            @Model.User.Username
        </div>
        <div class="col">
            @Model.Status
        </div>
    }
    @if (Model.Chat != null && showChats)
    {
        <div class="col">
            @Model.Chat.ExternalId
        </div>
        <div class="col">
            @Model.Chat.Type
        </div>
        <div class="col">
            @Model.Status
        </div>
    }
</div>