@model IEnumerable<eShop.Database.Data.Composition>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <div class="row">
        <div class="col-4">
            <form asp-action="Create" method="get">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="capacity">Capacity:</label>
                            <input id="capacity" type="number" name="capacity" class="form-control" value="3"/>
                        </div>
                    </div>
                    <div class="col d-flex align-items-end">
                        <div class="form-group">
                            <input type="submit" value="Create New" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
