@model eShop.Models.Clients.IndexModel

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <script>
        function copyInvintationLink(invintationLink) {
            navigator.clipboard.writeText(invintationLink);
        }
    </script>
}

<h1>Clients</h1>

<div class="row">
    <div class="col">
        <p>You can invite your client by providing them the following link:</p>
        <p>
            <a href="@Model.TelegramInviteLink" target="_blank">Telegram</a>
            <a href="@Model.ViberInviteLink" target="_blank">Viber</a>
        </p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
    </tbody>
</table>
